{% extends 'base.html' %}

{% block body %}
{% if len(large_list) == 0 %}
    <div style="text-align: center;">
        <p>一致する検索結果がありません</p>
        <p>もう一度やり直してください</p>
    </div>
{% else %}
    <p>チャンネルを選択してください</p>
    {% for list in large_list: %}
        <form action="/result" method="POST">
            <style>
                @media(min-width:670px){
                    div.card{
                        width:50%;
                    }
                }
            </style>
            <div class="card" style="margin:auto; margin-top: 5px; margin-bottom: 5px;" width="50%">
                <div class="card-body">
                <img src="{{ list[0] }}" alt="チャンネルアート">                    
                <p style="color:#000; margin:10px;"><b>{{ list[1] }}</b></p>
                <p style="color:#000; margin:10px;">{{ list[2] }}</p>
                <input name="channel_id" id="input" type="hidden" size="50" value="{{ list[3] }}">
                <input class="btn btn-primary btn-sm" type = "submit" name = "submit" value="このチャンネルのランクを見る" style="margin:10px; cursor: pointer;">
                </div>
            </div>
        </form>
    {% endfor %}
{% endif %}
<br>
<a class="btn btn-dark" href="/" role="button">トップに戻る</a>
{% endblock %}